.widget {
    border: 1px solid
}
.widget-templates {display:none}
.tablewidget table {border-collapse: collapse}
.tablewidget input {
    margin: 0;
    border:0px}
.tablewidget table td {
    border: 1px solid lightgrey;
    padding:0px;
    margin:0px;
}
.tablewidget input {
    border: 0px;
    text-align: right;
}
#content {border: 1px solid}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror div.CodeMirror-cursor {
  background-color:pink;
  width:1ex;
  z-index: 0;
}