.widget {
    border: 1px solid
}
.widget-templates {display:none}
.tablewidget td {border: 1px solid}
#content {border: 1px solid}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror div.CodeMirror-cursor {
  background-color:pink;
  width:1ex;
  z-index: 0;
}